:root {
  --main: black;
  --primary: rgb(0, 237, 237);
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  scroll-behavior: smooth;
}
body {
  background: black;
  background: radial-gradient(circle, var(--main) 60%, rgb(0, 83, 83) 90%);
}
section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section h1 {
  font-size: 1.5rem;
  background-color: var(--primary);
  padding: 10px;
  color: black;
  transform: skewX(-20deg);
  text-transform: uppercase;
  width: 400px;
  text-align: center;
}
@keyframes shine {
  0% {
    transform: translateX(0);
    transform: skewX(10deg);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    transform: skewX(10deg);
  }
}
@keyframes shine-2 {
  0% {
    transform: translateY(0);
    transform: skewY(20deg);
  }
  50% {
    transform: translateY(1000%);
  }
  100% {
    transform: translateY(-100%);
    transform: skewY(20deg);
  }
}
@keyframes slide {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#operators #operatorsBox #operatorLists .display.active {
  display: grid !important;
}

#header {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}
#header nav {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header nav .nav-button {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
}
#header nav .nav-button label {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#header nav .nav-button label:hover,
#header nav .nav-button input[name="navRadio"]:checked ~ label {
  background-color: rgb(43, 43, 43);
  border-bottom: 2px solid var(--primary);
}
#header nav .nav-button input[name="navRadio"] {
  display: none;
}

#home {
  width: 100%;
  height: 100vh;
  background: url(src/img/asset/splash-screen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0) 90%);
}
#home #titleLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home #titleLogo img {
  width: 400px;
  height: auto;
}
#home #playSect {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#home #playSect p {
  width: 100%;
  margin-block: 20px;
  color: white;
  z-index: 50;
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
}
#home #playSect a {
  width: 200px;
  height: 60px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  overflow-x: hidden;
  position: relative;
  margin-inline: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home
  #playSect
  a[href="https://www.ubisoft.com/en-sg/game/rainbow-six/mobile"] {
  background-color: var(--primary);
}
#home #playSect a {
  background: none;
}
#home #playSect a img {
  width: 100%;
  height: 100%;
}
#home #playSect a .shine-effect {
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: rgba(142, 255, 255, 0.752);
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
#home #playSect a:hover .shine-effect {
  animation: shine both 3s;
}
#home #playSect a:hover {
  box-shadow: 0 0 20px var(--primary);
}
#home #playSect a:hover > span {
  margin-inline: 10px;
}

#about,
#ranked,
#maps {
  width: 100%;
  height: 100vh;
}
#about .about-slides {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about .about-slides h2 {
  font-size: 1.5rem;
  background-color: var(--primary);
  padding: 10px;
  color: black;
  transform: skewX(-20deg);
  text-transform: uppercase;
}
#about .about-slides img {
  width: 100%;
  height: 100%;
  margin-block: 10px;
  border-radius: 20px;
  opacity: 0.7;
}
#about .about-slides p {
  text-align: center;
}
#about button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: black;
  border: 1px solid var(--primary);
  cursor: pointer;
}
#about #left {
  left: 30px;
}
#about #right {
  right: 30px;
}
#about button:hover {
  box-shadow: 0 0 10px var(--primary);
  background-color: var(--primary);
}
#about button:hover > img {
  filter: brightness(0);
}

#ranked {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#ranked #rankBox,
#maps #mapsBox {
  width: 90%;
  height: 80%;
  display: flex;
}
#ranked #rankBox #rankInfo {
  width: 30%;
  height: 100%;
}
#ranked #rankBox #rankInfo h2 {
  width: 100%;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--primary);
  color: black;
  height: 10%;
}
#ranked #rankBox #rankInfo div {
  border: 1px solid white;
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
}
#ranked #rankBox #rankInfo div li {
  margin-bottom: 10px;
}
#ranked #rankBox #ranks {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
#ranked #rankBox #ranks img {
  width: 150px;
  opacity: 0.7;
  scale: 0.8;
  position: relative;
}
#ranked #rankBox #ranks img:hover {
  opacity: 1;
  scale: 1;
}

#operators {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#operators #operatorsBox {
  width: 90%;
  margin-block: 20px;
}
#operators #operatorsBox #operatorTabs {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
#operators #operatorsBox #operatorTabs input {
  display: none;
}
#operators #operatorsBox #operatorTabs label {
  width: 150px;
  height: 100%;
  background-color: black;
  border: 2px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#operators #operatorsBox #operatorTabs label:hover,
#operators #operatorsBox #operatorTabs input[name="operator"]:checked ~ label {
  background-color: var(--primary);
  box-shadow: 0 0 20px var(--primary);
  color: black;
  transform: skewX(-10deg);
}
#operators #operatorsBox #operatorLists {
  width: 100%;
}
#operators #operatorsBox #operatorLists .display {
  display: none;
  grid-template-columns: auto auto auto auto;
  width: 100;
  height: 100%;
}
#operators #operatorsBox #operatorLists div .operator-cards {
  width: 300px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scale: 0.8;
  padding: 10px;
  position: relative;
  overflow: hidden;
  opacity: 0.6;
  transform: skewX(-5deg);
}
#operators #operatorsBox #operatorLists div .operator-cards .shining {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: white;
  opacity: 0.3;
  transform: translateY(-200%);
}
#operators #operatorsBox #operatorLists div .operator-cards:hover {
  opacity: 1;
  scale: 0.9;
  transform: skewX(0);
}
#operators #operatorsBox #operatorLists div .operator-cards:hover .shining {
  animation: both shine-2 2s;
}
#operators #operatorsBox #operatorLists div .operator-cards span,
#maps #mapsBox .map-cards span {
  font-size: 2rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
}
#operatorPreview {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#operatorPreview button {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: black;
  border: 2px solid var(--primary);
  padding: 10px;
}
#operatorPreview button:hover {
  background-color: var(--primary);
  box-shadow: 0 0 20px var(--primary);
}
#operatorPreview button:hover > img {
  filter: brightness(0);
}
#operatorPreview #infoPreview {
  width: 60%;
  height: 80%;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
#operatorPreview #infoPreview h1 {
  width: 100%;
  height: 50px;
  font-size: 2rem;
  text-transform: uppercase;
}
#operatorPreview #infoPreview img {
  width: 70px;
  height: 70px;
}
#operatorPreview #infoPreview span {
  font-size: 1.5rem;
  height: 70px;
  line-height: 70px;
  font-weight: 700;
}
#operatorPreview #infoPreview .weapons {
  width: 50%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  position: relative;
}
#operatorPreview #infoPreview .weapons span {
  font-weight: 700;
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
}

#maps #mapsBox {
  justify-content: center;
  align-items: center;
  display: grid !important;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
#maps #mapsBox .map-cards {
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  scale: 1;
  opacity: 0.8;
}
#maps #mapsBox .map-cards:hover {
  scale: 1.1;
  opacity: 1;
  box-shadow: 5px 5px 7px black;
  z-index: 20;
}
